@media only screen and (max-width:1300px){
    
    .content-container, #menu, #about{
        min-width:600px;
    }

    #about-text-block{
        min-width:unset;
    }


    #splash-graphic {
        display: none;
        visibility:hidden;
    }

    
    #about {
        grid-template-areas:
            'a-pic'
            'a-about'
            'a-skills';
        min-width:unset;
        width:90%;
        padding-top:40px;
    }
    
    #about-text, #about-title{
        width:100%;
    }

    #about-summary{
        
    }
    #about-text{
        height:100%;
        font-size:18px;
        width:100%;
    }


    #about-pic{
        min-width:100px;
        min-height:unset;
    }

    #about-pic iframe{
        display:none;
    }


    #about-headshot{
        display:block;
        width: 50vw;
        height: 50vw;
        object-fit:cover;
        margin:0 auto 20px;   
        border:1px solid #808080;
    }

    #skills{
        width:99%;
        margin-top:60px;
    }

    #skills-blocks{
        font-size:14px;
    }

    .skills-block{
        padding-left:40px;
    }
    
    #projects{
        width:98%;
        overflow:hidden;
        white-space:break-spaces;
        min-height:unset;
    }

    .projects-content-block {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .project-cell{
        min-width:175px;
        max-width:250px;
        min-height:100px;
        max-height:250px;
        width:30vw;
        margin:0px auto 2px;
        height:200px;
        border:1px solid black;
    }

    .p-info{
        height:100%;
    }

    .p-info-title{
        font-size:12px;
    }
    .p-info-desc{
        font-size:12px;
        min-height:unset;
    }

    .p-button-code, .p-button-view, .p-button-disabled{
        font-size:12px;
        width:80%;
    }

    .spacer{
        width:35%;
    }

    #spacer-right {
        transform: translate(185%, -20px);
    }

    #contact-content-block {
        flex-direction: column;
    }

    .c-block{
        width: 100%;
    }

    #contact-info {
        border-bottom: 1px solid #D4D4D4;
        padding-bottom:20px;
    }

    #contact-title {
        padding-top: 60px;
    }

    #info-title{
        font-size:30px;
    }

    #info-blocks{
        margin:30px auto 0px;
        padding-bottom:40px;
        padding-left:30px;
        width:72%;
        white-space:nowrap;
        overflow:hidden;
        font-size:18px;
    }

    .fa-file-pdf{
        font-size:17px;
    }
    .fa-envelope {
        font-size: 16px;
    }

    #info-title {
        margin-left: 12%;
        margin-right: 12%;
    }

    #message-form form {
        padding-top: 60px;
        padding-bottom: 60px;
        width:65%;
    }

    #fmessage{
        min-height:200px;
    }



}



@media only screen and (min-width:1920px){
    #about{
        
    }
    #about-text-block, #skills{
        padding-right:0%;
    }
    
    #about-pic{
        padding-left:0%;
    }


    #splash-cell {
        border-right: 4px solid rgba(69, 106, 122,0.7);
        border-left: 4px solid rgba(69, 106, 122,0.7);
    }





}

/* used to fix spacing issues in contact tab when re-sizing to medium size */
@media only screen and (min-width:1300px) and (max-width:1620px) {
    #info-blocks {
        margin: 25px auto 0px;
    }

    #fmessage{
        min-height:200px;
    }
}