html{
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background-color: #F2F4F3;
    cursor: default;
}


a, a:visited {
    color:black;
    text-decoration:none;
}


/* --- Generic Styles --- */

.content-container {
    width: 100%;
    min-width:1250px;
}

.container-padding{
    padding-top:0px;
    padding-bottom:0px;
}

.page-title {
    font-family: 'Comfortaa', sans-serif;
    font-size: 34px;
}


.max-wrap{
    max-width:1920px;
    margin: 0 auto;
}

/* --- Menu Styles --- */

#menu {
    width: 100%;
    height: 60px;
    min-width: 1250px;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 6px black;
    position:absolute;
    z-index:10;
}

#menu a {
    color: black;
}

#logo {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 3px;
    width: 80px;
    float: left;
    border-right: 2px solid #E2E2E2;
    height: 32px;
    margin-top:15px;  
}

#logo img{
    width:58px;
    transform:translate(10px,-14px);
}

#menu-links {
    float: left;
    font-size: 17px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight:500;
    margin-top:20px;
    padding-left:10px;
}

.menu-icon{
    font-size:14px;
    transform:translateY(-1px);
    visibility:hidden;
}

#menu-links a:hover .menu-icon{
    visibility:visible;
}

#menu-socials{
    float:right;
    display:flex;
    margin-top:14px;
    margin-right:15px;
}


#menu-socials div{
    padding:5px 5px 0px 5px;
    margin-right:2px;
    border-radius:0.5em;
}

#menu-socials div:hover{
    background-color: #dddddd;
}

#menu-socials div:active{
    background-color: #cccccc;
}

#menu-socials a{
    font-size:24px;
}

#socials-replit{
    width:24px;
    filter:brightness(0);     
}

#replit-cell{
    transform:translateX(-3px);
}
    

/* --- Splash Styles --- */
.text-shadow {
    text-shadow: 3px 2px 1px #3C3C3C;
}

#splash-container {
    background-color: #67879b;
}

#splash-cell {
    display: flex;
    height: 450px;
    background-color: #55768a;
    color: white;
    padding-top: 50px;
}

#splash-title{
    text-align:center;
    flex:1;
    white-space:nowrap;
    z-index:2;
}

#splash-title-top {
    font-family: 'Comfortaa', sans-serif;
    padding-top: 140px;
    font-size: 64px;
}

#splash-title-mid {
    font-family: 'Roboto', monospace;
    font-weight:600;
    font-size: 42px;
    margin-top: -6px;
    margin-bottom: 18px;
}

#splash-title-bot{
    
}

.splash-a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 10px 0 10px;
    border: 1px solid;
    padding: 8px 16px 8px 16px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 2px #3C3C3C;

}

#learn-more:hover, #resume:hover {
    background-color: #3B3B3B;
    color: white;
    border-color: #000000;
}

#learn-more {
    background-color: #33914A;
    border-color: #2C8348;
    color: white;
}

#resume {
    background-color: #F7F7F7;
    border-color: #A8A8A8;
}

#splash-graphic {
    flex:1;      
    overflow:hidden;
}

#splash-graphic iframe{
    width: 680px;
    height:100%;
    border:0;
    display:block;
    margin:0 auto;
}

/* --- About Styles --- */

#about {
    display: grid;
    min-width:1300px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #F2F4F3;
    padding-top: 140px;
    padding-bottom: 100px;
    grid-template-areas:
        'a-pic a-pic a-about'
        'a-pic a-pic a-skills';
    grid-row-gap:0px;
}

#about-pic{
    flex:1;
    min-height:400px;
    min-width:500px;
    padding-top:0px;
    grid-area:a-pic;
}

#about-pic iframe{
    border:2px solid #929292;
    width:450px;
    height:550px;
    display:block;
    margin: 39px auto;
}

#about-text-block {
    flex: 2;
    min-width: 550px;
    grid-area: a-about;
}


#about-title {
    text-align: right;
    width: 800px;
    margin: 0px auto 2px;
    
}

#about-text {
    width: 800px;
    height:auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight:400;
    display: grid;
    flex-direction: column;
    margin: 0 auto;   
}

.text-indent {
    padding:15px 20px 0px 20px;
}

#about-summary {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 40px;
    border: 1px solid #C9C9C9;
    padding-bottom:0px;
}

#summary1{
    flex:1;
    
}
#summary2{
    flex:2;
    padding-top:15px;
}

#skills-title {
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 10px;
}


#skills {
    font-family: 'Roboto', monospace;
    font-weight:500;
    grid-area: a-skills;
    width: 800px;
    margin: 0px auto;
    margin-top:-18px;
}

#skills-blocks {
    display: flex;
    font-size: 16px;
    line-height:25px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #C9C9C9; 
}

.skills-block{
    flex:1;
    display:flex;
    flex-direction:column;
    text-align:left;
    padding-left:20px;
}

#skills-blocks div{
    padding-bottom:0px;
}


#about-headshot{
    display:none;
}

/* --- Projects Styles --- */

#projects {
    padding-top:40px;
    padding-bottom:20px;
    width:90%;
    margin: 0 auto;
    min-height:900px;  
}

#projects-title{    
    text-align:center;
    margin-bottom:0px;
}

#projects-content-blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 0px; 
}

#spacers {
    display: block;
}

.spacer {
    width: 40%;
    height: 1px;
    border-bottom: 1px solid #C1C1C1;
    transform: translateY(-20px);
}

#spacer-right {
    transform: translate(150%, -20px);
}



/* --- Project Cell Styles --- */
.projects-content-block{
    margin-top:60px;
    margin-bottom:60px;
    min-height:300px;
    display:flex;
    align-items:center;
}

.project-cell {
    border: 1px solid #BABABA;
    min-width: 320px;
    max-width:460px;
    min-height: 180px;
    max-height:280px;
    width: 23vw;
    margin: 0 auto;
    background-size:cover;
    background-position:center;
}

.p-info {
    font-family: 'Roboto', sans-serif;
    visibility: hidden;
    border: 1px solid #232323;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

.project-cell:hover .p-info{
    visibility:visible;
}

.p-info-title {
    flex: 1;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 22px;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.p-info-desc {
    flex: 5;
    min-height: 150px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ffffff;
    padding: 10px;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    display: flex;
    text-align: center;
    align-items: center;
}

.p-info-buttons {
    flex: 2;
    min-height:50px;
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', sans-serif;
    padding:5px 0px 5px 0px;
}

.p-info-buttons div{
    flex:1;    
}

.p-info-title, .p-info-buttons {
    background-color: rgba(40,40,40,0.7);
    backdrop-filter: blur(4px);
}

.p-button-code, .p-button-view, .p-button-disabled {
    font-size: 16px;
    width: 80px;
    border-radius:0.3em;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 6px 4px 6px 4px;
}

.p-button-code{
    background-color: #20a558;
}

.p-button-code:hover{
    background-color: #42d45c;
}

.p-button-view {
    background-color: #345e8b;
}

.p-button-view:hover {
    background-color: #4c7bad;
}

.p-info-buttons div a{
    color:white;
}

.p-info-buttons div a:hover {
    color: white;
}

.p-button-code i{
    font-size:16px;
    margin-right:4px;
}


.p-button-view i{
    font-size:13px;
    transform:translateY(-1px);
    margin-right:5px;
}

.pb-code-disabled{
    background-color:#6e8672;
}

.pb-view-disabled {
    background-color: #67758a;
}

.p-button-disabled, .p-button-disabled i {
    text-decoration:line-through;
    text-decoration-color:#333333;
    text-decoration-thickness:2px;
    color: #b5b5b5;
    user-select: none;
}

/* --- Contact Styles --- */

#contact {
    background-color: #EAEAEA;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 1px solid #C9C9C9;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact a{
    color: black;
}

#contact-content-block {
    background-color: #F6F6F6;
    display: flex;
    min-height: 900px;
    border: 1px solid #D4D4D4;
}

#contact-title {
    padding-top: 245px;
    width: 95%;
    margin: 0 auto;
}

.c-block {
    width: 50%;
    font-family: 'Roboto', sans-serif;

}


#contact-info {
    
}

#info-title {
    font-size: 46px;
    text-align: center;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px solid #1A1A1A;
}

#info-blocks {
    font-size: 28px;
    width: 75%;
    white-space:nowrap;
    min-width: 300px;
    margin: 40px auto 40px;
    min-height: 100px;
}

#info-blocks div{
    margin-top:8px;
    margin-left:0px;
}


.info-link:hover{
    text-decoration:underline;
}

.fa-envelope {
    font-size: 25px;
    transform: translateY(1px);
}

#copy-email-alert {
    position: absolute;
    transform: translate(0px,0px);
    background: rgb(18, 235, 69);
    padding: 4px 12px 4px 12px;
    border-radius: 0.5em;
    font-family: 'Roboto Mono', sans-serif;
    user-select:none;
    font-size: 18px;
    transition: opacity 2s;
    display:none;
}
.hide-alert {
    opacity: 0;

}
.show-alert{
    opacity:1;
}

#copy-email-alert::after {
	content: "";
 	position: absolute;
 	top: 100%;
 	left: 50%;
	margin-left: -5px;
 	border-width: 5px;
 	border-style: solid;
	border-color: red transparent transparent transparent;
}

#email-link{
    cursor:pointer;
}

.fa-file-pdf{
    font-size:28px;
    margin-left:3px;
}

/* --- Message Form Styles --- */

#message-form {
}

#message-form form{
    width:70%;
    padding-top:230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    font-size:18px;  
}

#message-form input, textarea {
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight:500;
}

.f-label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight:600;
}

#f-name,#f-mail,#f-message{
    margin-top:20px;
}

#f-submit{
    margin-top:5px;
    margin-right:-10px;
    display:flex;
}

#fname, #fmail {
    width: 100%;
    border: 1px solid #C9C9C9;
    padding:5px;
}

#fmessage {
    resize: none;
    width: 100%;
    min-height: 160px;
    font-size: 16px;
    border: 1px solid #C9C9C9;
    padding:5px;
    line-height:24px;
}



#fsubmit {
    float: right;
    font-size: 16px;
    background-color: #35A258;
    border: 1px solid #2C8348;
    color: white;
    padding: 8px 16px 8px 16px;
    cursor:pointer;
    border-radius:0.4em;
}

#fsubmit:hover{
    background-color: #1DB54D;
}

#fsubmit:active{
    background-color: #3A8452;
}

.fsubmitDisable{
    pointer-events:none;
    opacity:0.7;
}

.inputDisable{
    color: #8a8a8a;
}

#fname:focus, #fmail:focus, #fmessage:focus {
    outline: none;
    border: 1px solid #000000;
}


#message-success{
    color:#02ce1f;
}

#message-fail {
    color: #de0000;
}

#message-fail, #message-success {
    font-family: 'Roboto Mono', monospace;
    flex:4;
    text-align:left;
    padding-top:10px;
    padding-left:10px;
    font-size:18px;
    animation-name: fade-show;
    animation-duration:2s;
}

#message-fail i, #message-success i{
    font-size:20px;
    margin-right:4px;
    transform:translateY(1px);
}

#f-submit-button{
    flex:1;
}

/* --- Footer Styles --- */

#footer-return{
    text-align:center;
    font-size:26px;
    transform:translate(-1px,-1px);
}

#footer-return:hover{
    transform:translate(-1px,-3px);
}

#footer-return:active{
    transform:translate(-1px,0px);
}


#footer-cell a{
    color: #e1e1e1;
}

#footer-cell a:hover{
    color: white;
    text-shadow:0px 0px 2px #e1e1e1;
}

#footer-cell {
    font-family: 'Roboto Mono', monospace;
    min-height: 65px;
    background-color: #2C4152;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid black;
    color: #EAEAEA;
    display: flex;
}

#fc-left,#fc-center,#fc-right{
    flex:1;
}

#fc-center{
    text-align:center;
}

#fc-center-return{
    width:40px;
    margin: 0 auto;
    border-bottom:1px solid white;
    padding-bottom:4px;
    padding-top:4px;
}

#fc-center-links {
    font-weight:600;
    font-size: 14px;
    margin-top: 3px;
    transform: translateX(9px);
}

#fc-right-links {
    text-align: right;
    padding-right: 27px;
    margin-top:-2px;
    font-size: 14px;
    font-weight: 600;
}

#footer-copyright{
    padding-top:40px;
    padding-left:6px;
    font-size:12px;
}

#footer-copyright i{
    font-size:12px;
}

.fa-copyright{
    margin-right:3px;
}

#footer-socials {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: right;
    padding-right:10px;
    padding-top:12px;
}

.f-social {
    font-size: 24px;
    margin-left: 4px;
    margin-right: 4px;
}

#footer-replit {
    filter:brightness(90%);
    width:26px;
    margin-left:-2px;
    transform:translate(0px,-1px);
}

#footer-replit:hover{
    filter:brightness(100%);
    text-shadow:0px 0px 2px #e1e1e1;
}

#footer-container {
    background-color: #2C4152;
}






@keyframes fade-show{
    from{opacity:0;}
    to{opacity:1;}
}

